.no-arrow {
  background-image: none !important;
  padding-right: 0.75rem;
}

.btn-pink {
  background-color: #FFDBE1 !important;
  color: #DC143C !important;
  border: 1px solid #f999aa !important;
}

.btn-pink:hover {
  background-color: #DC143C !important;
  color: #fff !important;
  border: 1px solid #f999aa !important;
}

.blue-btn {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: navy !important;
  background: #e9f2ff !important;
  border: 1px solid #accfff !important;
  /* text-transform: uppercase !important; */
}